
<!DOCTYPE html>
<body>

        <div style="background-color:cornflowerblue;height:20%">
            <h1 style="text-align:center; color:darkblue">DEPARTMENT OF IT</h1>
    
    </div>
    <div class="d1" style="text-align:center ;">
    <img src="https://img.collegedekhocdn.com/media/img/institute/crawled_images/None/DFGJSDGJDTRDGJD.jpg?tr=h-400,w-650">
   
      <div style="background-color:aquamarine;height:300px;">
         <h3 style="color:red">HEAD OF THE DEPARTMENT:
         </h3>
         <h4 style="font-size: 20px">Dr.R.Thangarajan</h4>
         <p>LABORATORIES:</p>
         <ul>
         <li >RDBMS lab</li>
         <li >Systems Software Laboratories lab</li>
         <li >Network lab</li>
         <li >Wireless Network lab</li>
         <li >Computing lab</li>
         </ul>
      </div>
</div>
<div class="d1" style="background-color:bisque;height:350px;">
    <h2 style="color:rgb(17, 0, 255);margin: 20px;">ABOUT:</h2>
    <h3>VISION:</h3>
    <p style="color:blue;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;"> To be a centre of excellence for development and dissemination of knowledge in Information Technology for the nation and beyond</p>
    <h3>MISSION:</h3>
    <ul type="circle" style="color:red">
        <li><p style="color:blueviolet;font-size: 20px;">To transform the students into innovative, competent and high quality IT professionals to meet the growing global challenges</p> </li>
        
        <li><p style="color:blueviolet;font-size: 20px;"> To endeavour for continuous upgradation of technical expertise of students to cater to the needs of the society</p></li>
        
        <li><p style="color:blueviolet;font-size: 20px;">To impart value-based IT education to the students and enrich their knowledge</p> </li>
        <li><p style="color:blueviolet;font-size: 20px;">To achieve an effective interaction with industry for mutual benefits</p></li>
    </ul>

  </div>
</body>

