<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body style="background-color:chocolate ;" >
    <div style="background-color: blue;">
    <header style="background-color:rgb(16, 139, 0);">
        <h1 style="text-align:center">DEPARTMENT CONTACT DETAILS</h1>
    </header>
</div>
    <div class="container" style="background-color:chartreuse ;">
        
            
            <ul>
                <ul>
                    <li>Head of the Department</li>
                </ul>
                <li>Dr. R.Thangarajan</li>
                <li>Phone:786545322</li>
                
            </ul>
        </div>
        
    
    <div class="container" style="background-color:deeppink ;">
        
            <ul>
                <ul>
                    <li>Principal:</li>
                </ul>
                <li>Phone : 04294 - 220583
                    
                    </li>
                <li>Fax : 04294 - 220087</li>
                <li>E-mail : principal@kongu.ac.in</li>

            </ul>
        </div>
        
    
    <div class="row" style="background-color:aqua ;">
        
            <ul>
                <ul>
                    <li>Placement & Training Cell:</li>
                </ul>
                <p>Placement Officer</p>
                <li>Phone : 04294 - 226644, 226564
                    
                    </li>
                <li>Fax : 04294 - 220087</li>
                <li>E-mail : placement@kongu.ac.in, placement@kongu.edu</li>

            </ul>
        </div>
        
       
    <div class="row" style="background-color:antiquewhite ;">
       
            <ul>
                <ul>
                    <li>Industry Institute Partnership Cell:</li>
                </ul>
                <p>Chief Co-ordinator</p>
                <li>Phone : 04294-225777 (DIRECT), 226642
                    
                    
                    </li>
                <li>Telefax : 04294 - 225777(DIRECT)</li>
                <li>Mobile No. : +91 9894157003</li>
                <li>E-mail : keciipc@kongu.ac.in</li>
            </ul>
        </div>
        
</body>
</html>
