<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="./home.component.css">
</head>
<body>
    <div class="container">
    <div class="div1">
        <p style="text-align:center ;">KONGU ENGINEERING COLLEGE ABOUT PAGE</p>
    </div>
    <div class="div4">
        <img src="https://www.kongu.ac.in/images/aboutkec.jpg">
        <p>Kongu Engineering College is a premier research-led autonomous Institution, approved by the All India
            Council for Technical Education, New Delhi and affiliated to the Anna University, Chennai. The college was
            started in 1984 by The Kongu Vellalar Institute of Technology Trust formed comprising of 41 philanthropists
            of the Kongu region with the motto to provide affordable and value-based quality technical education to the
            students of this region. From a modest beginning of a total of 180 students in 3 UG branches, the institution
            has grown phenomenally in 36 years to the present strength of over 8250 students in 14 UG programmes, 19
            PG programmes and 16 research programmes.
            The dedication and support of management combined with the efforts of the Principals, faculty and
            disciplined students has helped the college to add several laurels to its credit.
            KEC is one of the first self-financing engineering colleges to be established in TamilNadu. Located in
            a serene and sylvan atmosphere in Perundurai, near Erode in Tamil Nadu, the college has a sprawling campus
            of 167 acres and a built-up area of 22,45,265 sq.ft with state - of- the- art infrastructural facilities and an
            excellent academic track record. </p>
    </div>
    <div class="div6">
        <h1>KEC ENGINEERING DEPARTMENTS(UG)</h1>
        <li><a src="it">Infomation Technology</a></li>
        <li><a src="cse">Computer Science</a></li>
        <li><a src="eee">Electric and  Electrical Engineering</a></li>
        <li><a src="ece">Eloctronic and cCommunication Engineering </a></li>
        <li><a src="ce">Chemical Engineering </a></li>
        <li><a src="mech">Mechanical Engineering</a></li>
        <li><a src="civil">Civil Engineering</a></li>
        <li><a src="me">Mechatronics Engineering</a></li>
        <h1>KEC OTHER COURSES</h1>
        <li><a src="it">ME</a></li>
        <li><a src="cse">MBA</a></li>
        <li><a src="eee">Science and Humanities</a></li>
        <li><a src="ece">Naturopathy </a></li>
        
    </div>
    <div class="div5">
        <h1>PG COURSES</h1>
        <li><a src="it">Construction Engineering and Management</a></li>
        <li><a src="cse">Structural Engineering</a></li>
        <li><a src="eee">Engineering Design</a></li>
        <li><a src="ece">Eloctronic and cCommunication Engineering </a></li>
        <li><a src="ce">Power Electronics and Drives </a></li>
        <li><a src="mech">Mechatronics Engineering</a></li>
        <li><a src="civil">Information Engineering</a></li>
        
        <h1>APPLIED SCIENCES</h1>
        <li><a src="it">BSc-Computer Systems and Designs</a></li>
        <li><a src="cse">BSc-Information Systems</a></li>
        <li><a src="eee">BSc-Software Systems</a></li>
        <li><a src="ece">MSc-Software Systems </a></li>
       
    </div>
</div>
</body>
</html>